.modal_container {
  & .modal_wrapper {
    & .cart-container {
      width: 100%;

      & .cart-card {
        & .cart-header {
          margin-top: 0px;
          background: #000;
          color: #eeeeee;
        }
        & .cart-body {
          height: calc(100vh - 198px);
          overflow-y: scroll;
          overflow-x: hidden;
          // font-size: 12px;

          & .cart-item {
            & .cart-item-info {
              & .cart-item-calculation {
                font-size: 12px;

                & .btn-rounded {
                  height: 20px;
                  width: 20px;
                }
              }
            }
          }

          & .cart-banner {
            padding: 5px;
            display: flex;
            border-radius: 2px;
            align-items: center;
            justify-content: center;
            margin: 5px 7px;
            font-size: 10px;
            background: #fff;
          }
        }

        & .cart-footer.empty-cart {
          margin-top: 0px;
          display: flex;
          align-items: center;
          justify-content: center;

          & .btn-primary {
            width: 90%;
          }
        }
      }
    }
  }
}