._404_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 80px;
  & ._404_content {
    position: relative;
    & ._404_msg_container {
      & h1 {
        letter-spacing: 13px;
        margin-bottom: 0px;
        font-size: 60px;
      }
    }
  }
  & .button_container {
    max-width: fit-content;
    margin-top: 30px;
    & a {
      text-decoration: none;
    }
  }
}
