.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0rem 0.5rem;
  flex-shrink: 0;
  box-shadow: 0px 0px 1px #00000090;
  z-index: 2;
  background-color: #eeeeee;
  text-align: center;

  & p {
    margin: 0.5rem 0rem;
  }
}
