.btn {
  appearance: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  background: transparent;
  color: inherit;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 0.1rem;
  font-size: inherit;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: color 0.15s, background-color 0.15s ease-in-out;
  &[disabled] {
    pointer-events: none;
    opacity: 0.4;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background-color: #d10157;
  color: white;
  &:hover,
  &:active {
    background-color: darken(#d10157, 10%);
  }
}

.btn-rounded {
  border-radius: 50%;
  padding: 0;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
