.product_list_container {
  display: flex;
  margin-top: 10px !important;
  position: relative;
  margin-bottom: 30px !important;
  word-break: break-word;
  & .sidebar {
    width: 22%;
  }

  & .products {
    display: flex;
    flex-wrap: wrap;
    width: 78%;

    & .card_container {
      width: 25%;
      // border: 1px solid #eeeeee;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For tablet phones: */
  .product_list_container {
    & .sidebar {
      width: 30%;
    }

    & .products {
      width: 70%;

      & .card_container {
        width: 50%;
        // border: 1px solid #eeeeee;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  /* For mobile phones: */
  .product_list_container {
    flex-direction: column;

    & .select {
      position: fixed;
      top: 72px;
    }

    & .products {
      margin-top: 50px;
      flex-direction: column;
      width: 100%;

      & .card_container {
        width: 100%;
        // border: 1px solid #eeeeee;
      }
    }
  }
}
