* {
    scrollbar-color: #00000040 #ffffff00;
    scrollbar-width: thin;
    box-sizing: border-box;
  }
  
  input,
  button {
    font-family: inherit;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid inherit;
    -webkit-text-fill-color: inherit;
    box-shadow: 0 0 0px 1000px inherit inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #00000040;
    border: 2px white solid;
    background-clip: padding-box;
    border-radius: 0.25rem;
  }
  
  body {
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
    & h1 {
      color: #000;
    }
  
    & .container-fluid {
      max-width: 1024px;
      margin: 0 auto;
    }
  
    & .wrapper {
      margin-top: 80px !important;
    }
  
    &.title {
      font-size: 1.1rem;
    }
  
    & .title-xl {
      font-size: 1.4rem;
    }
  
    & .column {
      padding: 10px;
    }
  }
  